# Exploratory Data Analysis Exercise
* For this part we will be using the `data/cars.csv` dataset

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

%matplotlib inline 
import scipy.stats as stats

# Load in the data
* Use the file in the data folder called 'cars.csv'
* Save it as a varible named 'df'
* Display the first 5 rows of our dataframe

In [7]:
df = pd.read_csv('data/cars.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,28,18,3916,34500

# Data clean up part 1.

1. Print the number of duplicate rows we have in our dataframe.

2. Modify our df to have all duplicate rows removed. 

3. Do a sanity check to make sure all duplicates have been removed by printing the total number of duplicate rows again.

In [8]:
# 1. Print the number of duplicate rows we have in our dataframe.

print(df.duplicated().sum())

720

In [9]:
#  2. Modify our df to have all duplicate rows removed. 
df = df.drop_duplicates()

In [10]:
# 3. Do a sanity check to make sure all duplicates have been removed by printing the total number of duplicate rows again.

print(df.duplicated().sum())

0

# Data clean up part 2.
* Which column has the most null values and how many null values does it have?
* Print how long our dataframe is.
* Remove any row that has a null value in it. 
* Do a sanity check and pring how long our dataframe is now that we have removed our null values.

In [11]:
# * Which column has the most null values and how many null values does it have?

null_df = df.isnull().sum().reset_index()
null_df.max()

index    highway MPG
0                 69
dtype: object

In [12]:
# * Print how long our dataframe is.

len(df.index)

11194

In [13]:
# * Remove any row that has a null value in it. 
df = df.dropna()

In [14]:
# * Do a sanity check and pring how long our dataframe is now that we have removed our null values.

len(df.index)

11092

### Make a bar chart that displays how many times each brand of car appears in this data. 
_Brand of car is the `Make` of the car._
* You can achieve this by using value_counts or by a groupby.  Either is fine with me.

In [ ]:
# Make a bar chart that displays how many times each brand of car appears in this data. 

df["Make"].value_counts().plot(kind='bar')

# Make the cart more legible, by making it a horizontal bar chart and changing the figure size.  And also sort the values so the bar chart displays from lowest to highest.

In [1]:
# Make the cart more legible, by making it a horizontal bar chart, sorting the values, and changing the figure size.

df["Make"].value_counts().plot(kind='barh',sort_columns=True,figsize=(10,15))

NameError: name 'df' is not defined

### Make a timeline line chart in which the x-axis is the year, and the y-axis is the average MSRP.
* What's noticeable about it and what do you think the error is...

In [ ]:
# Make a timeline line chart in which the x-axis is the year, and the y-axis is the average MSRP.
df.groupby('Year')['MSRP'].mean().plot(kind='line',x="Year",y="MSRP",figsize=(10,10))

# It seems as though in the years before (and includig) 2000, they were counting in tens.
Make a new column that is called `adjusted_price`, that contains all prices, however, for every year before 2000 make it 10x the original MSRP.  
   * Hint; you might need to use our old friend `np.where`

In [ ]:

condition=df['Year']<=2000
df['price_adjuster']=np.where(condition,10,1)

# Multiply the MSRP by the price adjuster.
df['adjusted_price']=df['MSRP']*df['price_adjuster']

pd.set_option('display.max_rows', 100)
df.head(n=100)

# Replot the new adjusted price.  
* Make the y-axis start at 0 and go up to 100,000

In [2]:
# Plot new prices

df.groupby('Year')['adjusted_price'].mean().plot(kind='line',x="Year",y="adjusted_price",figsize=(10,10),ylim=[0,100000])

NameError: name 'df' is not defined

# What are top 5 car makers that make the most expensive cars on average. 
* I only want the top 5, make sure your answer is the top 5 and only the top 5. (hint, you can use .head())
* Use our `adjusted_price` column for this
* Hint; you're going to have to do a .groupby to answer this.

In [16]:
# What are the top 5 car makers make the most expensive cars on average. 

df.groupby('Make')['adjusted_price'].mean().sort_values(ascending=False).head()

# What are the 5 car makers that have the highest median highway MPG?

In [17]:
# Which car makers have the highest median highway MPG?

df.groupby('Make')['highway MPG'].median().sort_values(ascending=False).head()

# Using `sns.histplot`, make histogram of the adjusted_price of just these car makers.
* ['Chevrolet', 'Ford', 'Toyota']
* Create a temp_df to store the dataframe of just these values.
* Set the 'hue='Make''.

In [19]:
# Using `sns.histplot`, make histogram of the adjusted_price of just these car makers.

temp_df=df[df.Make.isin(['Chevrolet', 'Ford', 'Toyota'])]
sns.histplot(data=temp_df,x='Make',y='adjusted_price',hue='Make')

# Remake the same histogram, but limit the x-axis from 0 to 100,000

In [20]:
# Remake the same histogram, but limit the x-axis from 0 to 100,000

hist=sns.histplot(data=temp_df,x='Make',y='adjusted_price',hue='Make').set(ylim=(0,100000))

# Plot the relationship between Engine HP and highway MPG

In [22]:
# Plot the relationship between Engine HP and highway MPG
plt.figure(figsize = (12,8))
sns.scatterplot(x = 'Engine HP', y = 'highway MPG', data = df).set(title = 'Engine HP vs highway MPG')

# Using `sns.boxplot`, create a boxplot for the 'Engine HP'

In [23]:
# create a boxplot for the 'Engine HP'
sns.boxplot(x = 'Engine HP', data = df)

# Make another boxplot for highway MPG

In [24]:
# create a boxplot for the 'highway MPG'

sns.boxplot(x = 'highway MPG', data = df)

# Remove any  outliers from Engine HP and highway MPG 

<img src='https://miro.medium.com/max/1400/1*2c21SkzJMf3frPXPAR_gZA.png' width=500>

* Outliers meaning values that are outside 1.5x the Inter Quartile Range (see image above).
* For each column (Engine HP and highway MPG):
* Calculate the 0.25 and 0.75 Quantiles
* Calculate the Inter Quartile Range (IQR)
* Create condition mask for the values that are outliers below (in the 'Minimum' range).
* Create condition mask for the values that are outliers above (in the 'Maximum' range).
* Filter the dataframe to remove any values that are in the above section _OR_ the below section. (hint; it may be easier to use the inverse selection '~'.
* Make the same boxplots of Engine HP and Highway MPG as before but with the this dataframe.

In [25]:
# Remove any  outliers from Engine HP and highway MPG

# Remake the boxplots for both Engine HP and highway MPG

In [26]:
# Engine HP boxplot

In [27]:
# highway MPG boxplot

# Make a scatter plot of Engine HP vs highway MPG

In [28]:
# Make a scatter plot of Engine HP vs highway MPG

# What does this plot tell you about how Engine HP affects highway MPG?

In [34]:
# What does this plot tell you about how Engine HP affects highway MPG?

print('Your answer here.')

Your answer here.

# Using a pairplot, display all of the linear relationship.
* Which variables look like they have the strongest linear relationship (Besides MSRP and adjusted_price).

In [30]:
# Using a pairplot, display all of the linear relationship.

In [31]:
# * Which variables look like they have the strongest linear relationship (Besides MSRP and adjusted_price).

# Find which features actually have the strongest linear relationship using correlations.
* Make a heatmap plot of all of the correlations in our dataset.
* Change the figure size of our heatmap plot to be 8x8
* __Which feature does Engine HP have the strongest relationship with, and why do you think that relationship exists.__

In [32]:
# * Make a heatmap plot of all of the correlations in our dataset.
# * Change the figure size of our heatmap plot to be 8x8

In [33]:
# Which feature does Engine HP have the strongest relationship with, and why do you think that relationship exists.

print('Your answer here')

Your answer here

# [EXTRA CREDIT] 
* In the column names, replace all the spaces with an underscore, and make them all lowercase as well

In [35]:
# * In the column names, replace all the spaces with an underscore, and make them all lowercase as well